<div class='container'>

  <div class='row'>
  <div class='col-xs-3'>
<p id="notice">
 <%=  notice %>
</p>

<h2>User info</h2>
 <table class='table'>
<tr><%= attachment_image_tag current_user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></tr>
<tr>
<th>name</th>
 <th><%= current_user.name%></th>
 <th></th>
</tr>
 <tr>
  <th>introduction</th>
  <th><%= current_user.introduction%></th>
  <th></th>
</tr>
</table>
<div class='row'>

<%= link_to '', edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_16205" %>
</div>

<h2>New book</h2>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<div class="field row">

    <h4>Title</h4>
    <%= f.text_field :title, class:"form-control" %>
</div>
<div class="field row">
    <h4>Opinion</h4>
    <%= f.text_area :body, class:"form-control" %>
</div>
<div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" />
  </div>

<% end %>

  </div>

<div class='col-xs-9'>
<h1>Users</h1>

 <table class='table'>
    <thead>
         <tr>
         <th>image</th>
         <th>name</th>
          <th colspan="3"></th>
       </tr>
    </thead>
    <tbody>
       <% @users.each do |user| %>
         <tr>
           <td><%= attachment_image_tag user, :profile_image,format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
           <td><%= user.name %></td>
           <td><%= link_to 'Show',user_path(user.id) %></td>
         </tr>

       <% end %>
     </tbody>
   </table>
</div>



