<div class='container'>


<div class='col-md-6 col-md-offset-3'>

<h1>Editing Book</h1>
<!-- form_for部分 -->
<%= form_for :book, url: book_path(@book), method: :patch do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
   <div class="field row">
    <label for="book_title">Title</label>
    <br>
    <%= f.text_field :title, class:"form-control" %>
</div>

   <div class="field row">
    <label for="book_opinion">Opinion</label>
    <br>
    <%= f.text_area :body, class:"form-control" %>

 <div class="actions row">
    <input type="submit" name="commit" value="Update Book" class="btn btn-primary col-xs-12" data-disable-with="Update Book" />
  </div>
 
<% end %>

<%= link_to 'Show ', book_path(@book) %>|
<%= link_to 'Back', books_path %>

</div>
</div>
</div>